<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
    <link
        href="https://fonts.googleapis.com/css?family=Fjalla+One|Gothic+A1:100,200,300,400,500,600,700,800,900|Philosopher:400,400i,700,700i&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/icon.png' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title>evenTune</title>
</head>

<body>
    <!-- nav bar -->
    <nav class="navbar navbar-rl justify-content-between">
        <div class="container">
            {% load static %}
            <a href="/home"><img src="{% static 'images/logo.png' %}" alt="eventune logo" class="navbar_logo"></a>
            <form class="form-inline left-side">
                {%csrf_token%}
                <input id="searchparam" name="keyword" class="form-control mr-sm-2" type="text"
                    placeholder="Find events">
                <button class="btn btn-dark btn-outline-light" type="submit">Search</button>
            </form>
            <div class="dropdown">
                <a href="/profile/{{user.id}}" class="dropbtn"><img class="profile_img" src="{{user.profile_image}}"
                        alt="user profile picture"> {{user.f_name}}</a>
                <div class="dropdown-content">
                    <a href="/profile/{{user.id}}" class="btn btn-outline-success">{{user.f_name}} Profile</a>
                    <a href="/myevents" class="btn btn-outline-success">My Events</a>
                    <a href="/logout" class="btn btn-outline-danger">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- body -->

    <section>
        <input id="user_id" type="hidden" value="{{user.id}}">
        <input id="city" type="hidden" value="{{user.city}}">
        <input id="token" type="hidden" value="{%csrf_token%}">
        <div class="container main-container"></div>
    </section>

    <footer>
        <div class="container">
            {% load static %}
            <a href="wwww.facebook.com"><img class="footer-icon" src="{% static "images/facebook.png" %}"
                    alt="facebook logo"></a>
            <a href="wwww.instagram.com"><img class="footer-icon" src="{% static "images/instagram.png" %}"
                    alt="facebook logo"></a>
            <a href="wwww.twitter.com"><img class="footer-icon" src="{% static "images/twitter.png" %}"
                    alt="facebook logo"></a>
            <p>Copyright © EvenTune 2020</p>
        </div>
    </footer>
    {% load static %}
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/styling.js' %}"></script>
</body>

</html>