<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
    <link
        href="https://fonts.googleapis.com/css?family=Fjalla+One|Gothic+A1:100,200,300,400,500,600,700,800,900|Philosopher:400,400i,700,700i&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/icon.png' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>{{user.f_name}} Events</title>
</head>

<body>
     <!-- nav bar -->
     <nav class="navbar navbar-rl justify-content-between">
        <div class="container">
            {% load static %}
            <a href="/home"><img src="{% static 'images/logo.png' %}" alt="eventune logo" class="navbar_logo"></a>
            <div class="dropdown">
                <a href="/profile/{{user.id}}" class="dropbtn"><img class="profile_img" src="{{user.profile_image}}"
                        alt="user profile picture"> {{user.f_name}}</a>
                <div class="dropdown-content">
                    <a href="/profile/{{user.id}}" class="btn btn-outline-success">{{user.f_name}} Profile</a>
                    <a href="/myevents" class="btn btn-outline-success">My Events</a>
                    <a href="/logout" class="btn btn-outline-danger">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- body -->
    <div class="container me-list">
        <section>
            <h1>Your Events:</h1>
            {%for event in events%}
            <div class="me-display">
                <img class="me-img" src="{{event.picture}}" alt="{{event.title}} picture">
                <div class="me-info">
                    <h4>{{event.title}}</h4>
                    <p>{{event.date}}</p>
                    <a href="{{event.more_info}}" class="btn btn-outline-info">More Info</a>
                    <a href="/remove_event/{{event.id}}" class="btn btn-outline-warning remove">Remove from your
                        events</a>
                </div>
            </div>
            <hr>
            {%endfor%}
        </section>
    </div>
    <footer>
        <div class="container">
            {% load static %}
            <a href="wwww.facebook.com"><img class="footer-icon" src="{% static "images/facebook.png" %}"
                    alt="facebook logo"></a>
            <a href="wwww.instagram.com"><img class="footer-icon" src="{% static "images/instagram.png" %}"
                    alt="facebook logo"></a>
            <a href="wwww.twitter.com"><img class="footer-icon" src="{% static "images/twitter.png" %}"
                    alt="facebook logo"></a>
            <p>Copyright © EvenTune 2020</p>
        </div>
    </footer>
</body>

</html>