<html>

{%for event in events%}
<div class="card concerts">
    <img src="img.url" alt="event name image" class="card-img-top">
    <div class="card-body">
        <p class="card-text">event name</p>
        <p class="card-text">event date</p>
        <a href="event url" class="btn btn-info m-info">More Info</a>
        <input type="hidden" name="api_id" value="">
        <input type="hidden" name="title" value="">
        <input type="hidden" name="date" value="">
        <input type="hidden" name="url" value="">
        <input type="hidden" name="pic" value="">
        <a href="/add_event" class="btn btn-warning btn-interes">Interested</a>
    </div>
</div>
{%endfor%}

</html>