/* *** General Styles *** */
* {
    font-family: 'Gothic A1';
}

body {
    background-color: black;
    /* background:linear-gradient(to right, #040404, #000000, #656565); */
}

.messages {
    color: white;
    margin-left: 370px;
}

.btn {
    box-shadow: rgb(128, 128, 128) 2px 2px;
}

/* *** Nav Bar styles *** */

.navbar-rl {
    /* background-color: white; */
    background: linear-gradient(-72deg, #dedede, #ffffff 16%, #dedede 21%, #ffffff 24%, #dedede 36%, #ffffff 45%, #ffffff 60%, #dedede 72%, #454545 27%, #ffffff 80%, #dedede 84%, #a1a1a1);
}

.navbar_logo {
    height: 50px;
}

/* *** Nav Bar login styles *** */

.profile_img {
    height: 50px;
    border-radius: 50%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropbtn {
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown p {
    display: inline-block;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* *** Footer styles *** */

footer {
    background-color: white;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

footer .container {
    padding: 15px;
}

.footer-icon {
    height: 20px;
    margin: 0 5px;
}

footer p {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 0;
}

/* *** REGISTRATION AND LOGIN PAGE *** */

/* *** Advertisement poster styles *** */

.bck_img {
    background: url("../images/login_img.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;
    margin: 20px 0;
    text-align: center;
    padding-top: 250px;
    color: white;
}

.bck_img h1 {
    font-size: 60px;
    font-weight: 900;
}

.bck_img p {
    font-size: 30px;
}

/* *** Card styles *** */

.cards-container {
    background-color: white;
    padding-top: 60px;
    padding-bottom: 60px;
}

.card-rl {
    border: none;
    text-align: center;
}

.card-rl p {
    font-size: 25px;
    color: gray;
}

.icon-rl {
    height: 130px;
    display: block;
    margin: auto;
}

/* *** Registration and login forms *** */

.reg-log {
    padding-left: 210px;
    color: white;
    padding-top: 80px;
    background-color: black;
    margin-bottom: 80px;
}

/* *** HOME PAGE *** */

.left-side {
    margin-left: 300px;
}

section {
    min-height: 600px;
}

.concerts {
    display: inline-block;
    width: 260px;
    margin: 15px 10px 0 7px;
    height: 350px;
    vertical-align: top;
    position: relative;
    background-color: whitesmoke;
}

.concerts img {
    height: 150px;
    background-color: black;
    border-radius: 5px;
    border: 1px solid white;

}

.concerts p {
    margin: 5;
    padding: 0;
    font-size: 16px;
}

.concerts .btn-interes {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.concerts .m-info {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

/* *** EDIT PROFILE PAGE *** */

.upload-pro {
    padding: 40px;
    color: white;
}

.upload-pro h1 {
    text-align: center;
}

.upload-pro .row {
    padding: 20px;
}

.input-edit {
    background-color: rgb(238, 237, 237);
    color: black;
}

.update-pro {
    margin: 20px 40px;
}

.add-pro-pic {
    margin-top: 40px;
}

.delete-pro {
    margin-top: 40px;
}

/* *** MY EVENTS PAGE *** */

/* *** Events display styles *** */

.top-container  {
    padding-top: 20px;
}

.centered {
    display: block;
    align-self: center;
    margin: 0 auto;
    max-width: 820px;
    height: 155px;
}
.event_image {
    height: 152px;
    vertical-align: bottom;
}

.overflow {
     max-height: 24px;
    overflow: hidden;
}
hr {
    border-style: dotted none none;
    border-width: 4px;
    border-color: silver;
    width: 40%;
}

.remove {
    margin-left: 35%;
}